[Unit]
Description = reddit server
Requires=network.target

[Service]
ExecStart=/bin/puma -p {{ app_port }}
WorkingDirectory={{ app_dir }}
Restart=always
User={{ app_user }}
Group={{ app_user }}
EnvironmentFile=/etc/default/reddit.env

[Install]
WantedBy=multi-user.target
