# vim
*.swp

# python
*.pyc
.cache
.pytest_cache
.venv

# nodejs modules
node_modules

# dir with secure data
auth

# ansible retry
*.retry
.molecule

# vagrant
.vagrant
*.log

# terraform
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
*.svg

# GCP
gce.ini
