[Unit]
Description = reddit server
Requires=network.target

[Service]
ExecStart=/bin/puma --dir {{ app_dir }} -p {{ app_port }}
Restart=always
User={{ app_user }}
Group={{ app_user }}
EnvironmentFile=/etc/default/reddit

[Install]
WantedBy=multi-user.target
